<!doctype html>
<html>

<head>
    <title>404</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content" class="flex col">

        <div class="flex row">
        <div class="flex row center w-max box-1 no-bg">
            <h1 class="text-1">404</h1>
        </div>
        </div>

        <div class="flex row">
        <div class="flex row center box-1 w-max">
            <p class="text-4">Página não encontrada.</p>
        </div>
        </div>
        


    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>