<!doctype html>
<html>

<head>
    <title>Sobre nós</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Cecomp -->
        <div class="flex row center">
        <div class="box-1" style="background-color: rgba(0,0,0,0);">

            <h2 class="title-1 text-1 no-break" style="font-size: 60pt;">O CEComp.</h2>

            <p class="title-1 text-3">Somos o Centro Estudantil da Computação da USP Ribeirão Preto.</p>
            <p class="title-1 text-4">
                Entre muitas, nossa função é defender os interesses dos alunos representando-os perante a universidade, criar conteúdo educacional,
                organizar e prover suporte à projetos.
            </p>
            
            <p class="title-1 text-4">
                Nossa organização é sem fins lucrativos e sempre está aberta a parcerias e colaborações.
            </p>

            <div class="box-3 flex row center" style=" margin-top: 40px">
                <img src="\img/logo/logo.png" class="w-max" style="height: auto; max-width: 800px;background-color: #ffffff; border-radius: 20px;">
            </div>

        </div>
        </div>

        <!-- Cecomp -->

        <div class="flex row center">
        <div class="flex row center" style="margin: 0;">
            <p class="title-1 text-4">Você pode compreender melhor o que fazemos e como fazemos aqui:</p>
        </div>
        </div>

        <div class="flex row center">
        <div class="box-3 blocks flex row center" style="margin: 0;">

            <div class="box-3" style="margin: 0;">
                <button class="a" href="./files/estatuto.pdf" >Estatuto do CEComp</button>
            </div>

            <div class="box-3" style="margin: 0;">
                <button class="a" href="https://drive.google.com/drive/u/0/folders/1wWdHWmhI58s7v4b9dzlGwn2N5vnGxxA5">Drive público</button>
            </div>

            <div class="box-3" style="margin: 0;">
                <button class="a" href="/contact">Fale conosco</button>
            </div>
                
        </div>
        </div>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>