<head>
    <title>Sobre nós</title>
    {{>common_head}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <p>Sobre nós aqui...</p>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>