<!doctype html>
<html>

<head>
    <title>Sobre nós</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Cecomp -->
        <div class="flex row center">
        <div class="box-1" style="background-color: rgba(0,0,0,0);">

            <h2 class="title-1 text-1 no-break" style="font-size: 60pt;">O CEC<label style="font-size:45pt;">OMP</h2>

            <p class="title-1 text-3">Somos o Centro Estudantil da Computação da USP Ribeirão Preto.</p>
            <p class="title-1 text-4">
                Entre muitas, nossa função é defender os interesses dos alunos representando-os perante a universidade, criar conteúdo educacional,
                organizar e prover suporte à projetos.
            </p>
            
            <p class="title-1 text-4">
                Nossa organização é sem fins lucrativos e sempre está aberta a parcerias e colaborações.
            </p>

            <div class="box-3 flex row center" style=" margin-top: 40px">
                <img src="\img/logo/logo.png" class="w-max" style="height: auto; max-width: 800px;background-color: #ffffff; border-radius: 20px;">
            </div>

        </div>
        </div>

        <!-- Cecomp -->

        <div class="flex row center">
        <div class="box-1" style="background-color: rgba(0,0,0,0);">
            <p class="title-1 text-4">Você pode compreender melhor o que fazemos e como fazemos aqui:</p>
        </div>
        </div>

        <div class="flex row center">
        <div class="box-3 blocks flex row center" style="margin: 0;">

            <div class="box-3" style="margin: 0;">
                <button class="a" href="./files/estatutov2.pdf" >Estatuto do CEComp</button>
            </div>

            <div class="box-3" style="margin: 0;">
                <button class="a" href="https://drive.google.com/drive/u/0/folders/1wWdHWmhI58s7v4b9dzlGwn2N5vnGxxA5">Drive público</button>
            </div>

            <div class="box-3" style="margin: 0;">
                <button class="a" href="/contact">Fale conosco</button>
            </div>
                
        </div>
        </div>


        <!-- Suxto -->
        <div class="flex row center">
        <div class="box-1" style="">

            <p class="title-1 text-3" style="">Créditos</p>
            <p class="title-1 text-4" style="margin-bottom: 5px; margin-top: 0px;">Este site foi criado por </p>
            
            <div class="box-2 granim float" granim="2" style="margin-bottom: 15px; margin-top: 15px;">
            <p class="title-1" style="font-size: 25pt; margin-bottom: 0px; margin-top: 0px;">Lucas Miranda</p>
            <p class="title-1" style="font-size: 20pt; margin-bottom: 5px; margin-top: 0px;">(o "suxto")</p>
            <a class="title-1" href="https://www.linkedin.com/in/miiranta/" style="margin-right: 0px; padding-right: 0;">Linkedin</a>
            <a class="" href="https://github.com/miiranta" style="margin-left: 10px;">GitHub</a>
            </div>

            <p class="title-1 text-4" style="margin-top: 0px;">Aluno da terceira turma de Ciências da Computação da USP Ribeirão Preto.</p>

            


        </div>
        </div>
        

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>