<head>
    <title>Conta</title>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}
    
    <!--Buttons-->
    <a href="/">home</a>
    <a href="/logout">logout</a>

    <!--Info-->
    {{>account_info}}

    <!--Settings-->
    {{>account_settings}}

    <!--Update nick-->
    {{>account_nick_update}}

    <!--Sessions-->
    {{>account_sessions}}

</body>