<!doctype html>
<html>

<head>
    <title>Conta</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">
    
        <!--Info-->
        {{>account_info}}

        <!--Update nick-->
        {{>account_nick_update}}

        <!--Settings-->
        {{>account_settings}}

        <!--Sessions-->
        {{>account_sessions}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>