<head>
    <title>Calendário</title>
    {{>common_head}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <div class="flex row center" style="margin-top: 50px;">    
            <iframe src="https://calendar.google.com/calendar/embed?src=cecomp.rp%40gmail.com&ctz=America%2FSao_Paulo" style="border: 0" width="1000" height="800" frameborder="0" scrolling="no"></iframe>
        </div>
        
    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>