<!doctype html>
<html>

<head>
    <title>Calendário</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">
    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>