<!doctype html>
<html>

<head>
    <title>Certificados</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Script -->
        <script src="\js/certificate/certificate_fetch_multiple.js"></script>

        <!-- List -->
        <div class="flex row center">
        <div class="flex col center box-1">
            
            <div class="flex row center">
            <div class="flex col start">
                <div id="cert_fetch_div" class="flex blocks"></div>
            </div>
            </div>

        </div>
        </div>

        <div class="flex row center">
            <button onclick="cert_fetch_previous_page()" style="width: 60px;"><</button>
            <p id="cert_fetch_page_display" style="margin: 20px;">1</p>
            <button onclick="cert_fetch_next_page()" style="width: 60px;">></button>
        </div>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>