<head>
    {{>common_head}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <div>
        <script src="\js/certificate/certificate_fetch_one.js"></script>

        <h1 id="cert_title"></h1>
        <div id="cert_content"></div>

        <p>Certificate ID:</p>
        <p id="cert_id"></p>

        <p>Created At</p>
        <p id="cert_created_at"></p>

        <p>Updated At</p>
        <p id="cert_updated_at"></p>

        <p>Owner</p>
        <p id="cert_owner"></p>

        <p>Event</p>
        <p id="cert_is_event"></p>
        <p id="cert_event_id"></p>
        <a id="cert_event_link" href="">See event</a>
  
    </div>

</body>