<head>
    <title>Console - polls</title>
    {{>common_head_console}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- Polls -->
        {{>console_poll_create}}
        {{>console_poll_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>