<head>
    <title>Console - emails</title>
    {{>common_head_console}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Emails - Send -->
        {{>console_email_global_send}}
        {{>console_email_event_send}}
        {{>console_email_atv_send}}

        <!-- Emails - Fetch -->
        {{>console_email_global_fetch}}
        {{>console_email_event_fetch}}
        {{>console_email_atv_fetch}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>