<head>
    <title>Console - roles</title>
    {{>common_head}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        {{>console_role_update}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>