<head>
    {{>common_head}}
</head>

<body>

    <!-- Certificates -->
    <h1>Certificates</h1>
    {{>console_certificate_create}}
    {{>console_certificate_edit}}
    {{>console_certificate_remove}}

    <!-- Events -->
    <h1>Events</h1>
    {{>console_event_create}}
    {{>console_event_edit}}
    {{>console_event_remove}}

    <!-- Polls -->
    <h1>Polls</h1>
    {{>console_poll_create}}
    {{>console_poll_remove}}

    <!-- News -->
    <h1>News</h1>
    {{>console_news_create}}
    {{>console_news_edit}}
    {{>console_news_remove}}

    
    <!-- Transparency -->
    <h1>Transparency</h1>
    {{>transparency_summary}}
    {{>console_transparency_create}}
    {{>console_transparency_remove}}

    
</body>