<head>
    <title>Console - news</title>
    {{>common_head_console}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- News -->
        {{>console_news_create}}
        {{>console_news_edit}}
        {{>console_news_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>