<head>
    <title>Console - certificates</title>
    {{>common_head}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- Certificates -->
        {{>console_certificate_create}}
        {{>console_certificate_edit}}
        {{>console_certificate_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>