<head>
    <title>Console - transparency</title>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- Transparency -->
        {{>transparency_summary}}
        {{>console_transparency_create}}
        {{>console_transparency_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>