<head>
    {{>common_head}}
</head>

<body>

    <!-- News -->
    <h1>News</h1>
    {{>console_news_create}}
    {{>console_news_edit}}
    {{>console_news_remove}}

    <!-- Polls -->


    <!-- Transparency -->
    <h1>Transparency</h1>
    {{>transparency_summary}}
    {{>console_transparency_create}}
    {{>console_transparency_remove}}

    
</body>