<!doctype html>
<html>

<head>
    <title>Console - transparency</title>
    {{>common_head_console}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Transparency -->
        {{>transparency_summary}}
        {{>console_transparency_create}}
        {{>console_transparency_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>