<!doctype html>
<html>

<head>
    <title>Console - certificates</title>
    {{>common_head_console}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Certificates -->
        {{>console_certificate_create}}
        {{>console_certificate_edit}}
        {{>console_certificate_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>