<head>
    <title>Console - events</title>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- Events -->
        {{>console_event_create}}
        {{>console_event_edit}}
        {{>console_event_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>