<head>
    <title>Console</title>
    {{>common_head_console}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    
    <!-- MAIN -->
    <div class="main ">

        <!-- Links -->
        <a href="/console/certificates">Certificates</a>
        <a href="/console/events">Events</a>
        <a href="/console/news">News</a>
        <a href="/console/polls">Polls</a>
        <a href="/console/transparency">Transparency</a>
        <a href="/console/emails">Emails</a>
        <a href="/console/roles">Roles</a>
        
    </div>

    <!-- FOOTER -->
    {{>common_footer}}

    

    

    

    
    

    
</body>