<head>
    <title>Console - emails</title>
    {{>common_head_console}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- Emails - Send -->
        {{>console_email_global_send}}
        {{>console_email_event_send}}
        {{>console_email_atv_send}}

        <!-- Emails - Fetch -->
        {{>console_email_global_fetch}}
        {{>console_email_event_fetch}}
        {{>console_email_atv_fetch}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>