<head>
    <title>Console - emails</title>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <!-- Emails -->
        {{>console_email_global_send}}
        {{>console_email_event_send}}
        {{>console_email_atv_send}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>