<head>
    <title>Console - polls</title>
    {{>common_head_console}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Polls -->
        {{>console_poll_create}}
        {{>console_poll_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>