<!doctype html>
<html>

<head>
    <title>Console - events</title>
    {{>common_head_console}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Events -->
        {{>console_event_create}}
        {{>console_event_edit}}
        {{>console_event_remove}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>