<head>
    {{>common_head}}
</head>

<body>

    <!-- Polls -->


    <!-- Transparency -->
    <h1>Transparency</h1>
    {{>transparency_summary}}
    {{>console_transparency_create}}
    {{>console_transparency_remove}}

    
</body>