<head>
    <title>Contato</title>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <!-- MAIN -->
    <div class="main ">

        <p>Um forms anonimo aqui!</p>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</body>