<!doctype html>
<html>

<head>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        {{>events_fetch_one}}

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>