<head>
    {{>common_head}}
</head>

<body>

    <h1>Event</h1>

    <script src="\js/events/event_fetch_one.js"></script>

    <div id="event_div">

        <p>Title:</p>
        <p id="event_title"></p>

        <p>Name:</p>
        <p id="event_name"></p>

        <p>Description:</p>
        <p id="event_description"></p>
            
        <p>Start Date:</p>
        <p id="event_startDate"></p>

        <p>End Date:</p>
        <p id="event_endDate"></p>

        <p>Created At:</p>
        <p id="event_createdAt"></p>

        <p>Updated At:</p>
        <p id="event_updatedAt"></p>

        <div id="event_activities"></div>
    </div>

</body>