<head>
    {{>common_head}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <h1>Events</h1>
    {{>events_fetch_multiple}}
    {{>subscription_your_events}}

    

</body>