<head>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <h1>Event</h1>
    {{>events_fetch_one}}
    {{>subscription_toggle}}
    {{>subscription_preferences}}
    {{>subscription_your_activities}}

</body>