<head>
    <title>Welcome</title>
    {{>common_head}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- FRONT JS -->
    <script src="\js/index/front.js"></script>

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <p class="title-1 text-1">My name is lucas, i'm a web dev</p> 
        <p class="title-2 text-2">My name is lucas, i'm a web dev</p> 
        <p class="title-3 text-3">My name is lucas, i'm a web dev</p> 
        <p class="title-4 text-4">My name is lucas, i'm a web dev</p> 

        <div class="flex row center">
            <div class="box-1 flex row start">
                <p class="text-2">My name is lucas, i'm a web dev</p> 
            </div>
        </div>

        <p class="title-1 text-1">Hello</p> 
        <p class="title-2 text-2">My name is lucas, i'm a web dev</p> 
        <p class="title-3 text-3">My name is lucas, i'm a web dev</p> 
        <p class="title-4 text-4">My name is lucas, i'm a web dev</p> 

        <div class="flex row center">
            <div class="box-1 flex blocks">

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

                <div class="box-2 w-400 h-400">
                    <p class="text-3">My name is lucas, i'm a web dev</p>
                </div>

            </div>
        </div>

        <p class="title-1 text-1">Hello</p> 
        <p class="title-2 text-2">My name is lucas, i'm a web dev</p> 
        <p class="title-3 text-3">My name is lucas, i'm a web dev</p> 
        <p class="title-4 text-4">My name is lucas, i'm a web dev</p> 

        <p class="title-1 text-1">Hello</p> 
        <p class="title-2 text-2">My name is lucas, i'm a web dev</p> 
        <p class="title-3 text-3">My name is lucas, i'm a web dev</p> 
        <p class="title-4 text-4">My name is lucas, i'm a web dev</p> 

        <p class="title-1 text-1">Hello</p> 
        <p class="title-2 text-2">My name is lucas, i'm a web dev</p> 
        <p class="title-3 text-3">My name is lucas, i'm a web dev</p> 
        <p class="title-4 text-4">My name is lucas, i'm a web dev</p> 

    </div>
            
    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>

