<!doctype html>
<html>

<html>

<head>
    <title>Boas-vindas</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center" >

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <!-- Header -->
        <div class="flex col center">
        <div class="box-1 flex center" style="background-color: rgba(0,0,0,0)">

            <div class="box-3" style="width: 1000px;">
                <h1 class="title-1 text-1" style="word-break:keep-all; padding-left: 0px;">CEComp</h1> 
                <h2 class="title-2 text-4" style="font-size: 30pt; padding-left: 40px;">Centro Estudantil da Computação</h2> 
                <h2 class="title-2 text-4" style="font-size: 30pt; padding-left: 40px;">USP Ribeirão Preto</h2> 

                <a href="/about" style=" padding-left: 40px;" class="title-2">Sobre nós</a>
            </div>

            <div class="flex col center desktop">
            <div class="flex row center">

                <div class="flex col center" style="width: 270px; height: 270px;">
                <img src="\img/mascot/mascot-light.png" style="width: auto; height: auto; margin-top: 250px;">
                </div>

            </div>     
            </div>

        </div>
        </div>

        <!-- Just a spacer -->
        <div style="height: 100px;"></div>

        <!-- Notícias -->
        {{>index_news_list}}
        
        <!-- Links -->
        <h2 class="text-2 title-2" style="margin-top: 40px;">Links</h2>
        <div class="flex row center">
        <div class="flex col center box-1 no-bg border-2">

            <div class="flex blocks index-link-wrap-aux">

                <!-- Destaques -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Destaques</h2>    
                    </div>

                    <div class="flex blocks">

                        <div href="/semcomp" class="a jump index-block-item flex row granim no-border" granim="4">
                            <div class="flex col center">
                                <div class="index-block-item-deco no-bg" >
                                    <img src="img/assets/semcomp.png" class="img-w">
                                </div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Semcomp</p>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Loja -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Loja</h2>    
                    </div>

                    <div class="flex blocks">

                        <div href="/store" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Lojinha</p>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Lives & Aulas -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Lives & Aulas</h2>    
                    </div>

                    <div class="flex blocks">

                        <div href="https://www.youtube.com/@cecomp_rp" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Youtube</p>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Redes socias -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Redes sociais</h2>    
                    </div>

                    <div class="flex blocks"> 

                        <div href="https://www.instagram.com/cecomp.rp/" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Instagram</p>
                            </div>
                        </div>

                        <div href="https://www.facebook.com/cecomp.rp" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Facebook</p>
                            </div>
                        </div>

                        <div href="https://twitter.com/cecomp_rp" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Twitter</p>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Profissional -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Profissional</h2>    
                    </div>

                    <div class="flex blocks">

                        <div href="https://www.linkedin.com/in/cecomp-rp/" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">LinkedIn</p>
                            </div>
                        </div>

                        <div href="https://github.com/cecomp-rp" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Github</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>  
        </div>

        <!-- Serviços -->
        <h2 class="text-2 title-2" style="margin-top: 40px;">Serviços</h2>  
        <div class="flex row center">
        <div class="flex col center box-1 no-bg border-2">

            <div class="flex blocks index-link-wrap-aux">

                <!-- Para todos -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Para todos</h2>    
                    </div>

                    <div class="flex blocks">

                        <div href="/about" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Sobre nós</p>
                            </div>
                        </div>

                        <div href="/calendar" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Calendário</p>
                            </div>
                        </div>

                        <div href="/contact" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Contato</p>
                            </div>
                        </div>

                        <div href="/events" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Eventos</p>
                            </div>
                        </div>

                        <div href="/certificates" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Certificados</p>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Para o BCC -->
                <div class="index-link-wrap">

                    <div class="flex row center">
                        <h2 class="text-4">Para o BCC</h2>    
                    </div>

                    <div class="flex blocks">
  
                        <div href="/transparency" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Transparência</p>
                            </div>
                        </div>

                        <div href="/polls" class="a jump index-block-item flex row">
                            <div  class="flex col center">
                                <div class="index-block-item-deco"></div>    
                            </div>
                            <div  class="flex col center">
                                <p class="text-3">Votações</p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

        </div>  
        </div>


    </div>
            
    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>

