<!doctype html>
<html>

<html>

<head>
    <title>Boas-vindas</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center" >

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content" style="padding-top: 0;">

        <!-- Header -->
        <div id="index-header" class="flex col center granim float" granim="5">
        <div class="box-1 flex center no-bg" style="margin-top:0; margin-bottom:0;">

            <div class="box-3 no-bg" style="width: 1000px; margin-top:0;" >
                <h1 class="title-1 text-1" style="word-break:keep-all; padding-left: 0px; margin-top:0; margin-bottom:0;">CEC<label style="font-size:55pt;">OMP</label></h1> 
                <h2 id="subtitle1-index" class="title-2 text-4" style="font-size: 30pt; padding-left: 40px; margin-top:0; margin-bottom:0;">Centro Estudantil da Computação</h2> 
                <h2 id="subtitle1-index" class="title-2 text-4" style="font-size: 30pt; padding-left: 40px; margin-top:0; ">USP Ribeirão Preto</h2> 

                <a href="/about" style=" padding-left: 40px;" class="title-2">Sobre nós</a>
            </div>

            <div class="flex col center">
            <div class="flex row center">

                <div class="flex col center">
                <img id="index-logo" class="float-png" src="\img/mascot/mascot-light.png">
                </div>

            </div>     
            </div>

        </div>
        </div>

        <!-- Just a spacer -->
        <div style="height: 0px;" class="mobile"></div>
        <div style="height: 30px;" class="desktop"></div>

        <!-- Grid -->
        <div class="flex row center">
        <div class="flex row center box-1 no-bg blocks">

            <!-- 1 Coluna -->
            <div class="flex col index-grid-col" style="margin-right: 50px;">

                <!-- Loja -->
                <div class="flex row">

                    <div href="/store" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media granim" granim="4">
                            <p class="fa fa-shopping-cart"></p>
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Loja</p>    
                    </div>
                    

                </div>

                <!-- Semcomp -->
                <div class="flex row">
                    
                    <div href="/semcomp" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media granim" granim="4">
                            <img src="img/assets/semcomp.png" class="img-w" style="margin:12px; width: 36px;">
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Semcomp</p>    
                    </div>

                </div>

                <!-- Octobit -->
                <div class="flex row">

                     <div href="/octobit" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media granim" granim="3">
                            <img src="img/assets/octobit.png" class="img-w" style="margin:0px; width: 60px;">
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Octobit</p>    
                    </div>

                </div>

            </div>

            <!-- 2 Coluna -->
            <div class="flex col index-grid-col">

                <!-- Lives & Aulas -->
                <div class="flex row">

                    <div href="https://www.youtube.com/@cecomp_rp" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media color-youtube">
                            <p class="fa fa-youtube"></p>
                        </div>    
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Lives & Aulas</p>    
                    </div>

                </div>

                <!-- Redes socias -->
                <div class="flex row">

                    <div href="https://www.instagram.com/cecomp.rp/" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media color-instagram">
                            <p class="fa fa-instagram"></p>
                        </div>
                    </div>

                    <div href="https://www.facebook.com/cecomp.rp" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media color-facebook">
                            <p class="fa fa-facebook"></p>
                        </div>
                    </div>

                    <div href="https://twitter.com/cecomp_rp" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media color-twitter">
                            <p class="fa fa-twitter"></p>
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Redes Sociais</p>    
                    </div>

                </div>

                <!-- Profissional -->
                <div class="flex row">
                    
                    <div href="https://www.linkedin.com/in/cecomp-rp/" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media color-linkedin">
                            <p class="fa fa-linkedin"></p>
                        </div>
                    </div>

                    <div href="https://github.com/cecomp-rp" class="a jump flex row" style="width: fit-content;">
                        <div class="index-social-media color-github">
                            <p class="fa fa-github"></p>
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Profissional</p>    
                    </div>

                </div>

            </div>

            <!-- 3 Coluna -->
            <div class="flex col index-grid-col">

                <!-- Para BCC-->
                <div class="flex row">

                    <div href="/transparency" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-bcc">
                            <p class="fa fa-search"></p>
                        </div>
                    </div>

                    <div href="/polls" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-bcc">
                            <p class="fa fa-check-square-o"></p>
                        </div>
                    </div>

                    <div href="/internships" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-bcc">
                            <p class="fa fa-briefcase"></p>
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Para o BCC</p>    
                    </div>

                </div>

                <!-- Para todos -->
                <div class="flex row">

                    <div href="/about" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-all">
                            <p class="fa fa-users"></p>
                        </div>
                    </div>

                    <div href="/calendar" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-all">
                            <p class="fa fa-calendar"></p>
                        </div>
                    </div>

                    <div href="/contact" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-all">
                            <p class="fa fa-envelope"></p>
                        </div>
                    </div>

                    <div class="flex col center">
                        <p class="text-4" style="margin-left: 8px; margin-bottom: 0; margin-top: 0;">Para Todos</p>    
                    </div>

                </div>

                <!-- Para todos COM LOGIN -->
                <div class="flex row">

                    <div href="/events" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-all-logged">
                            <p class="fa fa-calendar-check-o"></p>
                        </div>
                    </div>

                    <div href="/certificates" class="a jump flex row" style="width: fit-content; height: fit-content;">
                        <div class="index-social-media color-all-logged">
                            <p class="fa fa-star"></p>
                        </div>
                    </div>

                    <p class="text-4" style="margin-left: 8px; margin-bottom: 0;"></p>

                </div>

            </div>

        </div>
        </div>

        <!-- Just a spacer -->
        <div style="height: 15px;" class="mobile"></div>
        <div style="height: 20px;" class="desktop"></div>

        <!-- Notícias -->
        {{>index_news_list}}
        

    </div>
            
    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>

