<head>
    <title>Login</title>
    {{>common_head}}
</head>

<body>
    <!-- Overlays -->
    {{>common_overlays}}

    <h1>Login</h1>
    
    <div class="main">
        <a href="/auth/google">Google</a>
    </div>

</body>