<head>
    {{>common_head}}
</head>

<body>

    <!-- Overlays -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <div>
        <script src="\js/news/news_fetch_complete.js"></script>

        <h1 id="news_title"></h1>
        
        <h2 id="news_description"></h2>
        <div id="news_content"></div>

        <p id="news_create_date"></p>
        <p id="news_update_date"></p>
        <p id="news_author"></p>
    </div>

</body>



