<!doctype html>
<html>

<head>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center" >

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content" class="flex col">

        <script src="\js/news/news_fetch_complete.js"></script>

        <div class="flex row center">
        <div class="flex col center box-1 no-bg">

            <h1 id="news_title" class="text-1" style="margin: 0;  margin-left: 10px;"></h1>
            <h2 id="news_description" class="text-3 justify" style="margin: 0; margin-top:10px; font-size: 20pt; margin-left: 10px;"></h2>

            <div id="news_content" class="justify"></div> 

        </div>
        </div>

        <div class="flex row center" style="margin-top: 40px;">
        <div class="flex box-1 blocks start">

            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Autor</p>
                <p id="news_author" style="margin-bottom:5px;"></p>           
            </div>

            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Data de publicação</p>
                <p id="news_create_date" class="format-date" style="margin-bottom:5px;"></p>       
            </div>
            
            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Última edição</p>
                <p id="news_update_date" class="format-date" style="margin-bottom:5px;"></p>           
            </div>

        </div>
        </div>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>



