<head>

    {{>common_head}}

</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <div>
        <script src="\js/polls/poll_fetch_one.js"></script>
        
        <h1>Poll</h1>

        <p id="poll_title"></p>
        <p id="poll_description"></p>
        <p id="poll_start_date"></p>
        <p id="poll_end_date"></p>
        <p id="poll_author"></p>
        <p id="poll_created_at"></p>

        <div id="poll_options"></div>

    </div>

</body>

