<!doctype html>
<html>

<head>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content" class="flex col center">

        <script src="\js/polls/poll_fetch_one.js"></script>
        
        <h1 id="poll_title" class="text-2 title-2"></h1>
        <h2 id="poll_description" class="text-4 title-2 "></h2>

        <div class="flex row center">
        <div class="flex col center box-1">
            <div id="poll_options" class="box-2 no-bg"></div>
        </div>
        </div>

        <div class="flex row center" style="margin-top: 40px;">
        <div class="flex box-1 blocks start">

            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Autor</p>
                <p id="poll_author" style="margin-bottom:5px;"></p>           
            </div>

            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Data de criação</p>
                <p id="poll_created_at" class="format-date-short" style="margin-bottom:5px;"></p>       
            </div>
            
            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Início</p>
                <p id="poll_start_date" class="format-date" style="margin-bottom:5px;"></p>           
            </div>

            <div class="flex col box-2 no-bg" style="">
                <p class="text-4" style="margin:0">Fim</p>
                <p id="poll_end_date" class="format-date" style="margin-bottom:5px;"></p>           
            </div>

        </div>
        </div>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>
