<head>
    <title>Votações</title>
    {{>common_head}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <script src="\js/polls/poll_fetch_multiple.js"></script>

        <div class="flex row w-max">
        <div class="box-3">
            <p class="title-1 text-4">
                O sistema de votação segue um princípio semelhante ao da urna eletrônica,
            </p>
            <p class="title-1 text-4">
                para garantir sua anonimidade, não é possível desfazer um voto.
            </p>
            <p class="title-1 text-4">
                Escolha sabiamente.
            </p>
        </div>
        </div>

        <div class="flex row center w-max">
        <div class="box-1">
            <div id="poll_fetch_div"></div>
        </div>
        </div>

        <div class="flex row center" style="margin-bottom: 50px;">
            <button onclick="poll_fetch_previous_page()" style="width: 60px;"><</button>
            <p id="poll_fetch_page_display" style="margin: 20px;">1</p>
            <button onclick="poll_fetch_next_page()" style="width: 60px;">></button>
        </div>

    </div>
 

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>