<head>

    {{>common_head}}

</head>

<body>

    <h1>A LANDING PAGE DA SEMCOMP!!</h1>

    <!-- The button that does all the magic -->
    <!-- Change "semcomp-v" to the event name on CEComp's system -->
    <a href="\sub/semcomp-v">Clique para inscrever-se!</a>

</body>