<head>
    <title>Loja</title>
    {{>common_head}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <p class="title-1 text-3">O CEComp ainda não tem uma loja oficial :(</p>
        <p class="title-1 text-4">Work in progress...</p>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>