<!doctype html>
<html>

<head>
    <title>Loja</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <p class="title-1 text-3">O CEComp ainda não tem uma loja oficial :(</p>
        <p class="title-1 text-4">Work in progress...</p>
        <p class="title-1 text-5">Se está tentando acessar o Kit Bixo 2024, acesse o link abaixo:</p>
        <a href="https://cecomp.com.br/news/66071fe57935ff0faa673a9a">Kit Bixo 2024</a>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>
