<!doctype html>
<html>

<head>
    <title>Loja</title>
    {{>common_head}}
</head>

<body>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">

        <p class="title-1 text-3">O CEComp ainda não tem uma loja oficial :(</p>
        <p class="title-1 text-4">Work in progress...</p>
        <p class="title-1 text-5">Se está tentando acessar o Kit Bixo 2024, compre no link abaixo:</p>
        <a href="https://forms.gle/VvV3hxPHjRYcLFnT6">Kit Bixo 2024</a>

    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>
