<!doctype html>
<html>

<head>
    <title>Suxto</title>
    {{>common_head}}
</head>

<body data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- CONTENT -->
    <div id="content">

        <div class="flex row center">
        <div class="flex col center">
            <img src="\img/assets/lula.png" style="width: 400px;" />
            <p class="text-4" style="text-align: center;">Olá admirador ;)</p> 
        </div>
        </div>
        
    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</body>

</html>