<head>
    {{>common_head}}
</head>

<body>

    <!-- NAV -->
    {{>common_nav}}

    <!-- Transparency Summary-->
    <h1>Transparency</h1>
    {{>transparency_summary}}
    {{>transparency_list}}

</body>