<head>
    <title>Transparência</title>
    {{>common_head}}
</head>

<body>
<div data-simplebar>
<div id="main" class="flex col center">

    <!-- OVERLAYS -->
    {{>common_overlays}}

    <!-- NAV -->
    {{>common_nav}}

    <!-- CONTENT -->
    <div id="content">
        {{>transparency_summary}}
        {{>transparency_list}}
    </div>

    <!-- FOOTER -->
    {{>common_footer}}

</div>
</div>
</body>