<div class="flex row center">
<div id="account_settings" style="margin-top: 80px;">

    <script src="\js/account/account_settings.js"></script>

    <h2 class="title-1 text-2">Configurações</h2>
    <p class="title-1 text-4">Não se esqueça de salvar!</p>

    <div class="box-1">

        <h3 class="text-3" style="margin-bottom: 0px;">Eventos</h3>
        <p>Pode ser alterada na página do evento.</p>
        <a href="/events">Eventos</a>

        <h3 class="text-3" style="margin-bottom: 0px; margin-top:50px;">Global</h3>
        <p>Todos os serviços do site.</p>
        <p>Desencorajamos a alteração dessas configurações!</p>
        <div class="box-3">
            <p>Habilitar notificações por email</p>
            <input id="account_enable_email_notifications_global" type="checkbox"></input>

            <p>Habilitar compartilhamento de email</p>
            <input id="account_enable_email_sharing_global" type="checkbox"></input>
        </div>
        
        <h3 class="text-3" style="margin-bottom: 0px; margin-top:50px;">CEComp</h3>
        <p>Serviços associados diretamente à administração da cecomp.</p>
        <div class="box-3">
            <p>Habilitar notificações por email</p>
            <input id="account_enable_email_notifications" type="checkbox"></input>

            <p>Habilitar compartilhamento de email</p>
            <input id="account_enable_email_sharing" type="checkbox"></input>

        </div>

        <div class="flex row center" style="margin-bottom: 0px; margin-top:50px;">
            <button id="account_settings_update" style="width: 200px;">Salvar</button>
        </div>

        <div class="flex row center">
            <p id="account_settings_message"></p>
        </div>

    </div>

</div>
</div>