<div id="account_settings">

    <script src="\js/account/account_settings.js"></script>

    <h2>Settings</h2>

    <p>Enable email notifications</p>
    <input id="account_enable_email_notifications" type="checkbox"></input>

    <p>Enable email sharing</p>
    <input id="account_enable_email_sharing" type="checkbox"></input>
    
    <p></p>
    <button id="account_settings_update">Update</button>

    <p id="account_settings_message"></p>

</div>