<div style="margin-top: 40px;">
    
    <script src="\js/account/account_info.js"></script>

    <h2 class="title-1 text-2">Perfil</h2>
    <p class="title-1 text-4">Suas informações são atualizadas automaticamente conforme sua conta do google.</p>

    <div class="box-1">

        <p class="text-4">Nome</p>
        <p id="acc_name"></p>

        <p class="text-4">Email</p>
        <p id="acc_email"></p>

        <p class="text-4">Apelido</p>
        <p id="acc_nick"></p>

        <p class="text-4">Foto</p>
        <img id="acc_profilePic" src="" width="100" height="100">

        <p class="text-4">Permissões</p>
        <p class="box-3" id="acc_roles"></p>

    </div>

</div>