<script src="\js/account/account_info.js"></script>

<h2 class="text-2 title-2" >Perfil</h2>
<p class="text-4 title-2 ">Suas informações são atualizadas automaticamente conforme sua conta do Google.</p>

<div class="flex row center">
<div class="flex col center box-1">
    
    <div class="box-2 no-bg blocks flex">

        <div class="acc_info_div w-800">
            <p class="text-4">Informações gerais</p>
            <div class="flex row center" style="margin: 20px;">
                <div class="flex col center">
                    <img id="acc_profilePic" class="border-1" src="" style="width: 180px; height: 180px; margin-right: 50px; border-radius: 20px;">    
                </div>
                <div class="flex col center w-max">
                    <p id="acc_name" class="text-3" style="margin:0"></p>
                    <p id="acc_email" style="margin:0; margin-bottom: 15px; font-size: 20pt;"></p>
                    <p class="text-4" style="margin:0; font-size: 14pt;">a.k.a</p>
                    <p id="acc_nick" class="text-4" style="margin:0; font-size: 18pt;"></p>
                </div>
            </div>
        </div>

        <div class="acc_info_div w-800">
            <p class="text-4">Permissões</p>
            <p class="box-3" id="acc_roles"></p>
        </div>

    </div>

</div>
</div>