<div>
    <script src="\js/account/account_nick_update.js"></script>

    <h2>Update your nick</h2>

    <input id="acc_nickUp_field" type="text">
    <button id="acc_nickUp_btn" onClick="acc_nickUp_fetch()">Update</button>
    <p id="acc_nickUp_msg"></p>

</div>