<div>
    <script src="\js/account/account_info.js"></script>

    <h2>Account info</h2>

    <p id="acc_name"></p>
    <p id="acc_email"></p>
    <p id="acc_nick"></p>
    <p id="acc_roles"></p>

    <img id="acc_profilePic" src="" width="100" height="100">

</div>