<script src="\js/account/account_info.js"></script>

<h2 class="text-2 title-2" >Perfil</h2>
<p class="text-4 title-2 ">Suas informações são atualizadas automaticamente conforme sua conta do Google.</p>

<div class="flex row center">
<div class="flex col center box-1">
    
    <div class="box-2 no-bg">
        <p class="text-4">Nome</p>
        <p id="acc_name"></p>

        <p class="text-4">Email</p>
        <p id="acc_email"></p>

        <p class="text-4">Apelido</p>
        <p id="acc_nick"></p>

        <p class="text-4">Foto</p>
        <img id="acc_profilePic" src="" style="width: 100px; height: 100px;">

        <p class="text-4">Permissões</p>
        <p class="box-3" id="acc_roles"></p>
    </div>

</div>
</div>