<!-- Warning Overlay -->
<div id="warning">
    
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="warning_inner" class="flex col center">
        </div>

        <div class="flex row center">  
        <div class="flex col center" style="height: 150px;">
            <button onclick="common_warning_close()" style="min-width: 300px;">Fechar</button>
        </div>
        </div>

    </div>
    </div>

</div>

<!-- Confirm Overlay -->
<div id="confirm">

    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="confirm_inner" class="flex col center">

        </div>

        <div class="flex row center" style="height: 100px;">
            <button id="confirm_accept" onclick="common_confirm_accept()" style="margin-right: 40px;">Proceed</button>
            <button id="confirm_dismiss" onclick="common_confirm_dismiss()">Dismiss</button>
        </div>

    </div>
    </div>

</div>

<!-- Loading Overlay -->
<div id="loading">
    <div class="flex row center" style="height: 100%;">  
      
        <div class="flex col center" style="height: 100%; margin:10px"> 
            <h4>⌛</h4>
        </div>

    </div>
</div>

<!-- Nav Overlay -->
<div id="nav-overlay">
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="width: 100%;">     
          
        <div id="nav-overlay-scroll" class="flex col">

            <div class="blocks flex">

                <!-- All members -->
                <div class="flex col box-5" style="padding-bottom: 80px; background-color: #492a7ad8">
                    <div class="flex row center" style="height: 100%; font-weight:900;" >  
                    <div class="">
                    <h1>Para todos.</h1>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/">
                    <h3>🌎</h3> <a href=""><h3>Página inicial</h3></a>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/store">
                    <h3>🛍️</h3> <a href=""><h3>Loja</h3></a>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/calendar">
                    <h3>🗓️</h3> <a href=""><h3>Calendário</h3></a> 
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/contact">
                    <h3>☎️</h3> <a href=""><h3>Contato</h3></a>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/certificates">
                    <h3>📜</h3> <a href=""><h3>Certificados</h3></a>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/events">
                    <h3>🎪</h3> <a href=""><h3>Eventos</h3></a>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/semcomp">
                    <h3>🖥️</h3> <a href=""><h3>Semcomp</h3></a>
                    </div>
                    </div>

                     <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/about">
                    <h3>👋</h3> <a href=""><h3>Sobre nós</h3></a>
                    </div>
                    </div>
                </div>

                <!-- BCC members -->
                <div class="flex col box-5" style="padding-bottom: 80px; background-color: #492a7ad8">
                    <div class="flex row center">
                    <div class="">
                    <h1>Para o BCC.</h1>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/transparency">
                    <h3>🔎</h3><a href=""><h3>Transparência</h3></a>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/polls">
                    <h3>🗳️</h3><a href=""><h3>Votações</h3></a>
                    </div>
                    </div>

                </div>

            </div>

            <!-- Close -->
            <div class="flex col center">
                <div style="">
                    <h3>.</h3>
                    <h3>.</h3>
                    <h3>.</h3>
                </div>
            </div>

        </div>

    </div>
    </div>
</div>

