<!-- Warning Overlay -->
<div id="warning">
    
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="warning_inner" class="flex col center">

        </div>

        <div class="flex col center" style="height: 100px;">
            <button onclick="common_warning_close()">Fechar</button>
        </div>

    </div>
    </div>

</div>

<!-- Confirm Overlay -->
<div id="confirm">

    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="confirm_inner" class="flex col center">

        </div>

        <div class="flex row center" style="height: 100px;">
            <button id="confirm_accept" onclick="common_confirm_accept()" style="margin-right: 40px;">Proceed</button>
            <button id="confirm_dismiss" onclick="common_confirm_dismiss()">Dismiss</button>
        </div>

    </div>
    </div>

</div>

<!-- Loading Overlay -->
<div id="loading">
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <h1>Loading...</h1>

    </div>
    </div>
</div>

