<!-- Warning Overlay -->
<div id="warning">
    
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="warning_inner" class="flex col center">

        </div>

        <div class="flex col center" style="height: 100px;">
            <button onclick="common_warning_close()">Fechar</button>
        </div>

    </div>
    </div>

</div>

<!-- Confirm Overlay -->
<div id="confirm">

    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="confirm_inner" class="flex col center">

        </div>

        <div class="flex row center" style="height: 100px;">
            <button id="confirm_accept" onclick="common_confirm_accept()" style="margin-right: 40px;">Proceed</button>
            <button id="confirm_dismiss" onclick="common_confirm_dismiss()">Dismiss</button>
        </div>

    </div>
    </div>

</div>

<!-- Loading Overlay -->
<div id="loading">
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <h2>Loading...</h2>

    </div>
    </div>
</div>

<!-- Nav Overlay -->
<div id="nav-overlay">
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="width: 100%;">     
          
        <div id="nav-overlay-scroll" class="flex col">

            <!-- All members -->
            <div class="flex row center" style="height: 100%;">  
            <div class="nav-overlay-item">
            <h1>Para todos</h1>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">  
            <div class="nav-overlay-item">
            <a href="/"><h2>página inicial</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">  
            <div class="nav-overlay-item">
            <a href="/calendar"><h2>calendário</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">  
            <div class="nav-overlay-item">
            <a href="/contact"><h2>contato</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">  
            <div class="nav-overlay-item">
            <a href="/store"><h2>loja</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">  
            <div class="nav-overlay-item">
            <a href="/certificates"><h2>certificados</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <a href="/about"><h2>sobre nós</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <a href="/events"><h2>eventos</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <a href="/semcomp"><h2>semcomp</h2></a>
            </div>
            </div>

            <!-- BCC members -->

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <h1>Para o BCC</h1>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <a href="/transparency"><h2>transparencia</h2></a>
            </div>
            </div>

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <a href="/polls"><h2>votações</h2></a>
            </div>
            </div>

            <!-- Close -->

            <div style="">
                <h3>.</h3>
                <h3>.</h3>
                <h3>.</h3>
            </div>

            <div class="flex row center" style="height: 100%;">
            <div class="nav-overlay-item">
            <h4>scroll down to leave</h4>
            <h2 style="height: 200px;">⮟</h2>
            </div>
            </div>

        </div>

    </div>
    </div>
</div>

