<div id="nav" class="nav flex center">

    <!-- Canvas -->
    <div id="nav-canvas-aux">
        <canvas id="nav-canvas"></canvas>
    </div> 

    <!-- Script -->
    <script src="\js/common/common_nav.js"></script>

    <!-- NAV LABEL -->
    <div class="nav-label start">
    <div class="flex row start" style="height:100%">

        <div class="flex col center" style="width: 50px; padding-left:10px;">
            <button id="nav-options-click" class="color-1 button-1" style="transform: rotate(-45deg);" onclick="common_nav_overlay_open()">➤</button>
        </div>

        <div class="flex col center" style="padding-left:10px;">
            <p id="nav-location" class="color-2"></p>
        </div>

    </div>
    </div>

    <!-- NAV LOGO -->
    <div class="nav-logo">
        <a href="/"><img class="nav-logo desktop" src="\img/logo/logo.png"></a>
    </div>

    <!-- NAV USER -->
    <div class="nav-user-area logged flex row end">
        <div class="flex row center" style="height:100%">
           
            <div class="flex col center" style="height:100%">
                <div class="flex row end" style="width:100%;">
                    <h3 id="nav_user_nick" class="text-1 color-2">not logged</h3>
                </div>

                <div class="flex row end" style="width:200px;">
                    <a href="\account"><h3 class="text-3 color-2">Minha conta</h3></a>
                    <h3 class="text-3 color-2">|</h3>
                    <a href="\logout"><h3 class="text-3 color-2">Logout</h3></a>
                </div>
            </div>

            <div class="flex row center" style="width:100%;">
                <div class="flex col center" style="height:100%">
                <img id="nav_user_profilePic" class="nav-user-profilePic" src="\img/mascot/mascot-light.png">
                </div>
            </div>

        </div>
    </div>
    
    <div class="nav-user-area notlogged flex row end">
        <div class="flex col center" style="height:100%">
            <a href='\login'><button class="button-1" id="nav_user_nick">Login</button></a>
        </div>
    </div>

</div>

<!-- Separator -->
<div style="height: 80px;"></div>

<!-- Custom styles -->
<style>
    .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
        margin-top: 85px;
    }
</style>