<!-- Warning Overlay -->
<div id="warning">
    
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="warning_inner" class="flex col center">
        </div>

        <div class="flex row center">  
        <div class="flex col center" style="height: 150px;">
            <button onclick="common_warning_close()" class="text-3" style="min-width: 300px;">Ok</button>
        </div>
        </div>

    </div>
    </div>

</div>

<!-- Confirm Overlay -->

<div id="confirm">
    
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="">     
        
        <div id="confirm_inner" class="flex col center">
        </div>

        <div class="flex col center" style="height: 150px;">  
        <div class="flex row center">
            <button onclick="common_confirm_accept()" class="text-4" style=" margin: 50px;">✔️</button>
            <button onclick="common_confirm_dismiss()" class="text-4" style=" margin: 50px;">❌</button>
        </div>
        </div>

    </div>
    </div>

</div>

<!-- Loading Overlay -->
<div id="loading">
    <div class="flex row center" style="height: 100%;">  
      
        <div class="flex col center" style="height: 100%; margin:10px"> 
            <h4>⌛</h4>
        </div>

    </div>
</div>

<!-- Nav Overlay -->
<div id="nav-overlay">
    <div class="flex row center" style="height: 100%;">  
    <div class="flex col center" style="width: 100%;">     
          
        <div id="nav-overlay-scroll" class="flex col">

            <div class="blocks flex">

                <!-- All members -->
                <div class="flex col box-5" style="padding-bottom: 80px; background-color: #1d1d1dc5">
                    <div class="flex row center" style="height: 100%; font-weight:900;" >  
                    <div class="">
                    <h1 class="text-2">Para todos.</h1>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/">
                    <h3 class="text-4">🌎 Página inicial</h3>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/store">
                    <h3 class="text-4">🛍️ Loja</h3>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/calendar">
                    <h3 class="text-4">🗓️ Calendário</h3>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/contact">
                    <h3 class="text-4">☎️ Contato</h3>
                    </div>
                    </div>

                    <div class="flex row center">  
                    <div class="nav-overlay-item box-2 a" href="/certificates">
                    <h3 class="text-4">📜 Certificados</h3>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/events">
                    <h3 class="text-4">🎪 Eventos</h3>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/semcomp">
                    <h3 class="text-4">🖥️ Semcomp</h3>
                    </div>
                    </div>

                     <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/about">
                    <h3 class="text-4">👋 Sobre nós</h3>
                    </div>
                    </div>
                </div>

                <!-- BCC members -->
                <div class="flex col box-5" style="padding-bottom: 80px; background-color: #23132ac5">
                    <div class="flex row center">
                    <div class="">
                    <h1 class="text-2">Para o BCC.</h1>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/transparency">
                    <h3 class="text-4">🔎 Transparência</h3>
                    </div>
                    </div>

                    <div class="flex row center">
                    <div class="nav-overlay-item box-2 a" href="/polls">
                    <h3 class="text-4">🗳️ Votações</h3>
                    </div>
                    </div>

                </div>

            </div>

            <!-- Close -->
            <div class="flex col center">
                <div class="desktop">
                    <h3>.</h3>
                    <h3>▼</h3>
                    <div style="height: 80px;"></div>
                </div>
                <div class="mobile">
                    <h3>.</h3>
                    <h3>.</h3>
                    <h3>.</h3>
                    <h3>▼</h3>
                    <div style="height: 80px;"></div>
                </div>
            </div>

        </div>

    </div>
    </div>
</div>

