<div id="nav" class="nav flex center" style="background-color: rgba(0,0,0,0); box-shadow: none;">

    <div class="nav-label start">
    <div class="flex row start" style="height:100%">
        <button id="nav-back" class="button-2" onclick="window.history.go(-1); return false;">❌</button>
    </div>
    </div>
    
</div>
