<div class="nav center">

    <!-- Script -->
    <script src="\js/common/common_nav.js"></script>

    <!-- NAV LABEL -->
    <div class="nav-label start">
        <h1 id="nav-title"></h1>
    </div>

    <!-- NAV LOGO -->
    <div class="nav-logo">
        <img class="nav-logo" src="\img/logo/logo.png" onclick="location.href = '/'">
    </div>

    <!-- NAV USER -->
    <div class="nav-user-area nav-logged end" style="display: none;">
        <img id="nav_user_profilePic" class="nav-user-profilePic" src="\img/mascot/mascot-light.png">
        <a href="\account"><h3 id="nav_user_nick">not logged</h3></a>
    </div>
    <div class="nav-user-area nav-notlogged end">
        <a href='\login'><h3 id="nav_user_nick">Login</h3></a>
    </div>


</div>

<!-- Separator -->
<div style="height: 80px;"></div>