<div>
    <script src="\js/console/transparency_create.js"></script>
    
    <h2>Create transparency item</h2>

    <p>Title (required)</p>
    <input id="transparency_create_title" type="text">

    <p>Description</p>
    <input id="transparency_create_description" type="text">

    <p>Value (required)</p>
    <input id="transparency_create_value" type="number">

    <p>Date of transaction (required)</p>
    <input id="transparency_create_date" type="datetime-local">

    <p></p>
    <input id="transparency_create_submit" type="button" value="Create item">

    <p id="transparency_create_message"></p>
</div>