<script src="\js/console/news_create.js"></script>

<h2 class="text-2 title-2" >Create news</h2>    
<div class="flex row center" id="news_create">
<div class="flex col center box-1">  
<div class="create-retract flex col">
    
    <p class="text-4">Title (required)</p>
    <input id="news_create_title" type="text"></input>

    <p class="text-4">Description</p>
    <textarea id="news_create_description" type="text"></textarea>

    <p class="text-4">Content (required)</p>
    <div id="news_create_editor"></div>

    <input id="news_create_submit" type="button" value="Post">

    <p id="news_create_message"></p>

</div>
</div>
</div>