<div>
    <script src="\js/console/email_event_send.js"></script>
    
    <h2>Send emails - by event</h2>

    <p>Event ID</p>
    <input type="text" id="email_event_id" />

    <p>Assunto</p>
    <input type="text" id="email_event_subject" />

    <p>Conteúdo</p>
    <textarea id="email_event_content" rows="10" cols="50"></textarea>

    <button id="email_event_send">Enviar</button>

    <p id="email_event_msg"></p>

</div>