<div>
    <script src="\js/console/transparency_remove.js"></script>
    
    <h2>Remove transparency items</h2>

    <button onclick="transparency_remove_next_page()">Next</button>
    <p id="transparency_remove_page_display">1</p>
    <button onclick="transparency_remove_previous_page()">Previous</button>

    <div id="transparency_remove_div">  
    </div>


</div>
