<div>
    <script src="\js/console/role_update.js"></script>
    
    <h2>Change user roles</h2>

    <p>User email</p>
    <input id="role_update_email" type="text" >
    <p id="role_update_msg"></p>

    <p>Current roles</p>
    <div id="role_update_current_roles"></div>

    <p>Add/Remove</p>
    <select id="role_update_select" class="load-roles">
    </select>

    <button onclick="role_update_add()">Add</button>
    <button onclick="role_update_remove()">Remove</button>

    <p id="role_update_msg2"></p>

</div>