<div>
    <script src="\js/console/email_atv_send.js"></script>
    
    <h2>Send emails - by activity</h2>

    <p>Activity ID</p>
    <input type="text" id="email_atv_id" />

    <p>Assunto</p>
    <input type="text" id="email_atv_subject" />

    <p>Conteúdo</p>
    <textarea id="email_atv_content" rows="10" cols="50"></textarea>

    <button id="email_atv_send">Enviar</button>

    <p id="email_atv_msg"></p>

</div>