<div>
    <script src="\js/console/event_create.js"></script>
    
    <h2>Create events</h2>

    <p>Name (required)</p>
    <input id="event_create_name" type="text"></input>

    <p>Description</p>
    <div id="event_create_description"></div>

    <p>Start date (required)</p>
    <input id="event_create_start_date" type="datetime-local"></input>

    <p>End date (required)</p>
    <input id="event_create_end_date" type="datetime-local"></input>

    <p>Activities</p>
    <button id="event_create_activity_create" onclick="event_create_activity_add()">Add activity</button>
    <div id="event_create_activity_div"></div>
    
    <p>Custom certificate</p>
    <div id="event_create_custom_certificate" style="display:none;">
        <div id="event_create_custom_certificate_quill"></div>
    </div>
    <button id="event_create_custom_certificate_add" onclick="event_create_custom_certificate_add()">Add custom certificate</button>
    <button id="event_create_custom_certificate_remove" onclick="event_create_custom_certificate_remove()" style="display:none;">Remove custom certificate</button>

    <p>Custom email (event_subscribe)</p>
    <div id="event_create_custom_email_event_subscribe" style="display:none;">
        <div id="event_create_custom_email_event_subscribe_quill"></div>
    </div>
    <button id="event_create_custom_email_event_subscribe_add" onclick="event_create_custom_email_event_subscribe_add()">Add custom email</button>
    <button id="event_create_custom_email_event_subscribe_remove" onclick="event_create_custom_email_event_subscribe_remove()" style="display:none;">Remove custom email</button>

    <p>Custom email (event_unsubscribe)</p>
    <div id="event_create_custom_email_event_unsubscribe" style="display:none;">
        <div id="event_create_custom_email_event_unsubscribe_quill"></div>
    </div>
    <button id="event_create_custom_email_event_unsubscribe_add" onclick="event_create_custom_email_event_unsubscribe_add()">Add custom email</button>
    <button id="event_create_custom_email_event_unsubscribe_remove" onclick="event_create_custom_email_event_unsubscribe_remove()" style="display:none;">Remove custom email</button>

    <p>Custom email (event_update)</p>
    <div id="event_create_custom_email_event_update" style="display:none;">
        <div id="event_create_custom_email_event_update_quill"></div>
    </div>
    <button id="event_create_custom_email_event_update_add" onclick="event_create_custom_email_event_update_add()">Add custom email</button>
    <button id="event_create_custom_email_event_update_remove" onclick="event_create_custom_email_event_update_remove()" style="display:none;">Remove custom email</button>

    <p>Custom email (atv_subscribe)</p>
    <div id="event_create_custom_email_atv_subscribe" style="display:none;">
        <div id="event_create_custom_email_atv_subscribe_quill"></div>
    </div>
    <button id="event_create_custom_email_atv_subscribe_add" onclick="event_create_custom_email_atv_subscribe_add()">Add custom email</button>
    <button id="event_create_custom_email_atv_subscribe_remove" onclick="event_create_custom_email_atv_subscribe_remove()" style="display:none;">Remove custom email</button>

    <p></p>
    <button id="event_create_submit">Create event</button>
    <p id="event_create_message"></p>


</div>