<div>
    <script src="\js/console/email_atv_send.js"></script>
    
    <h2>Send emails - by activity</h2>

    <p>Activity ID</p>
    <input type="text" id="email_atv_id" />

    <p>Filtros</p>
    <p>- Role</p>
    <select id="email_atv_filter_role" class="load-roles" value="">
        <option value="">-</option>
    </select>

    <p>Assunto</p>
    <input type="text" id="email_atv_subject" />

    <p>Conteúdo</p>
    <div id="email_atv_content" rows="10" cols="50"></div>

    <button id="email_atv_send">Enviar</button>

    <p id="email_atv_msg"></p>

</div>