<div>
    <script src="\js/console/email_atv_fetch.js"></script>
    
    <h2>Fetch emails - by activity</h2>
    
    <p>Activity ID</p>
    <input type="text" id="email_fetch_atv_id" />

    <div id="email_fetch_atv_msg"></div>

    <p>Filtros</p>
    <p>- Role</p>
    <select id="email_fetch_atv_filter_role" class="load-roles" value="">
        <option value="">-</option>
    </select>

    <br>
    <button onclick="email_fetch_atv_next_page()">Next</button>
    <p id="email_fetch_atv_page_display">1</p>
    <button onclick="email_fetch_atv_previous_page()">Previous</button>

    <div id="email_fetch_atv_div">
    </div>

</div>