<div>
    <script src="\js/console/email_event_fetch.js"></script>
    
    <h2>Fetch emails - by event</h2>

    <p>Event ID</p>
    <input type="text" id="email_fetch_event_id" />

    <div id="email_fetch_event_msg"></div>

    <p>Filtros</p>
    <p>- Role</p>
    <select id="email_fetch_event_filter_role" class="load-roles" value="">
        <option value="">-</option>
    </select>

    <br>
    <button onclick="email_fetch_event_next_page()">Next</button>
    <p id="email_fetch_event_page_display">1</p>
    <button onclick="email_fetch_event_previous_page()">Previous</button>

    <div id="email_fetch_event_div">
    </div>

</div>