<div>
    <script src="\js/console/news_edit.js"></script>
    
    <h2>Edit news</h2>

    <p>News ID (required)</p>
    <input id="news_edit_id" type="text"></input>

    <p id="news_edit_fetch_message"></p>

    <p>Title (required)</p>
    <input id="news_edit_title" type="text"></input>

    <p>Description</p>
    <textarea id="news_edit_description" type="text"></textarea>

    <p>Content (required)</p>
    <div id="news_edit_editor"></div>

    <p></p>
    <input id="news_edit_submit" type="button" value="Update">

    <p id="news_edit_message"></p>

</div>