<div>
    <script src="\js/console/certificate_create.js"></script>
    
    <h2>Create certificates</h2>

    <p>Email (required)</p>
    <input id="cert_create_email" type="text"></input>

    <p>Title (required)</p>
    <input id="cert_create_title" type="text"></input>

    <p>Content (required)</p>
    <p>~name to add owner's name</p>
    <p>~email to add owner's email</p>
    <div id="cert_create_content"> </div>

    <p></p>
    <button id="cert_create_submit">Create certificate</button>
    <p id="cert_create_message"></p>
    
</div>