<script src="\js/console/news_edit.js"></script>

<h2 class="text-2 title-2" >Edit news</h2>    
<div class="flex row center" id="news_edit">
<div class="flex col center box-1"> 
<div class="create-retract flex col">

    <p class="text-4">News ID (required)</p>
    <input id="news_edit_id" type="text"></input>

    <p id="news_edit_fetch_message"></p>

    <p class="text-4">Title (required)</p>
    <input id="news_edit_title" type="text"></input>

    <p class="text-4">Description</p>
    <textarea id="news_edit_description" type="text"></textarea>

    <p class="text-4">Content (required)</p>
    <div id="news_edit_editor"></div>

    <p></p>
    <input id="news_edit_submit" type="button" value="Update">

    <p id="news_edit_message"></p>

</div>
</div>
</div>