<script src="\js/console/role_update.js"></script>

<h2 class="text-2 title-2" >Change roles</h2>    
<div class="flex row center" id="role_update">
<div class="flex col center box-1">  

    <p class="text-4">User email</p>
    <input id="role_update_email" type="text" >
    <p id="role_update_msg"></p>

    <p class="text-4">Current roles</p>
    <div id="role_update_current_roles" class="title-1 text-4" style="font-weight: bolder;"></div>

    <p class="text-4">Add/Remove</p>
    <select id="role_update_select" class="load-roles">
    </select>

    <div class="box-5">
        <button onclick="role_update_add()" style="margin-right: 20px;">Add</button>
        <button onclick="role_update_remove()">Remove</button> 
    </div>
    
    <p id="role_update_msg2"></p>

</div>
</div>