<div>
    <script src="\js/console/email_global_send.js"></script>
    
    <h2>Send emails - global</h2>

    <p>Assunto</p>
    <input type="text" id="email_global_subject" />

    <p>Conteúdo</p>
    <textarea id="email_global_content" rows="10" cols="50"></textarea>

    <button id="email_global_send">Enviar</button>

    <p id="email_global_msg"></p>

</div>