<script src="\js/console/poll_create.js"></script>

<h2 class="text-2 title-2" >Create poll</h2>    
<div class="flex row center" id="poll_create">
<div class="flex col center box-1">    

    <div class="box-3">
        <p class="text-4">Title (required)</p>
        <input id="poll_create_title" type="text" class="w-max">

        <p class="text-4">Description</p>
        <textarea id="poll_create_description" type="text" class="w-max"></textarea>
    </div>

    <div class="box-3">
        <p class="text-4">Options (required)</p>
        <button id="poll_create_add_option" onclick="poll_create_add_option()">Add option</button>
        <div id="poll_create_options">
        </div>
    </div>

    <div class="box-3">
        <p class="text-4">Start date (required)</p>
        <input id="poll_create_start_date" type="datetime-local">

        <p class="text-4">End date (required)</p>
        <input id="poll_create_end_date" type="datetime-local">
    </div>

    <div class="box-2 no-bg">
        <input id="poll_create_submit" type="button" value="Create poll" class="w-max">
        <p id="poll_create_message"></p>
    </div>
        
</div>
</div>