<script src="\js/console/email_global_send.js"></script>

<h2 class="text-2 title-2" >Send emails - global</h2>    
<div class="flex row center" id="email_send_global">
<div class="flex col center box-1">
<div class="create-retract flex col">

    <p class="text-4">Filtros</p>
    <p>Role</p>
    <select id="email_global_filter_role" class="load-roles" value="">
        <option value="">-</option>
    </select>
        
    <p class="text-4">Assunto</p>
    <input type="text" id="email_global_subject" />

    <p class="text-4">Conteúdo</p>
    <div id="email_global_content" rows="10" cols="50"></div>

    <button id="email_global_send">Enviar</button>

    <p id="email_global_msg"></p>

</div>
</div>
</div>