<script src="\js/console/transparency_create.js"></script>

<h2 class="text-2 title-2" >Create transparency item</h2>    
<div class="flex row center" id="transparency_create">
<div class="flex col center box-1">

    <p class="text-4">Title (required)</p>
    <input id="transparency_create_title" type="text">

    <p class="text-4">Description</p>
    <input id="transparency_create_description" type="text">

    <p class="text-4">Value (required)</p>
    <input id="transparency_create_value" type="number">

    <p class="text-4">Date of transaction (required)</p>
    <input id="transparency_create_date" type="date" style="margin-bottom:50px;">

    <input id="transparency_create_submit" type="button" value="Create item">

    <p id="transparency_create_message"></p>

</div>
</div>