<div>
    <h2>All events</h2>

    <script src="\js/events/event_fetch_multiple.js"></script>

    <button onclick="event_next_page()">Next</button>
    <p id="event_page_display">1</p>
    <button onclick="event_previous_page()">Previous</button>

    <div id="event_div">
    </div>
</div>