<script src="\js/events/event_fetch_multiple.js"></script>

<h2 class="text-2 title-2" >Todos os eventos</h2>

<div class="flex row center">
<div class="flex col center box-1">

    <div class="box-2 no-bg flex col start">
        <div id="event_div" class="flex blocks"></div>
    </div>

</div>
</div>

<div class="flex row center">
    <button onclick="event_previous_page()" style="width: 60px;"><</button>
    <p id="event_page_display" style="margin: 20px;">1</p>
    <button onclick="event_next_page()" style="width: 60px;">></button>
</div>