<div class="flex col center">

    <script src="\js/events/event_fetch_multiple.js"></script>

    <h2 class="title-1 text-2" style="margin-top:30px; margin-bottom:0px;">Todos os eventos</h2>

    <div class="box-1 flex col start">
        <div id="event_div" class="flex blocks"></div>
    </div>

    <div class="flex row center">
        <button onclick="event_previous_page()" style="width: 60px;"><</button>
        <p id="event_page_display" style="margin: 20px;">1</p>
        <button onclick="event_next_page()" style="width: 60px;">></button>
    </div>

</div>