<script src="js/index/news_list.js"></script>

<div class="flex row center">
<div class="flex col center box-1 no-bg border-1" style="box-sizing: border-box; padding: 1px;">

    <div data-simplebar id="news_list_wrap" class="flex" style="max-height: 600px; background-color: rgba(0,0,0,0)">
    <div id="news_list_div"></div>
    </div>

</div>
</div>

<div class="flex row center" >
    <button onclick="news_list_previous_page()" style="width: 60px;"><</button>
    <p id="news_list_page_display" style="margin: 20px;">1</p>
    <button onclick="news_list_next_page()" style="width: 60px;">></button>
</div>

<style>
    #news_list_wrap .simplebar-scrollbar:before {
        background-color: #8840b87d;
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>