<script src="\js/subscriptions/sub_your_events.js"></script>

<h2 class="text-2 title-2" style="margin-top:40px;">Seus eventos</h2>
<p class="text-4 title-2 ">Os eventos os quais você se inscreveu.</p>

<div class="flex row center">
<div id="sub_your_events" class="flex col center">

    <div class="box-1 flex col start">
        <div id="sub_event_list" class="flex blocks"></div>
    </div>

</div>
</div>