<div id="sub_prefereces" style="display: none;">

    <script src="\js/subscriptions/sub_preferences.js"></script>

    <h2>Subscription preferences</h2>

    <p>Enable email notifications</p>
    <input id="sub_enable_email_notifications" type="checkbox"></input>

    <p>Enable email sharing</p>
    <input id="sub_enable_email_sharing" type="checkbox"></input>
    
    <p></p>
    <button id="sub_preferences_update">Update</button>

    <p id="sub_preferences_message"></p>

</div>