<div class="flex row center">
<div id="sub_your_events" class="flex col center">

    <script src="\js/subscriptions/sub_your_events.js"></script>

    <h2 class="title-1 text-2" style="margin-top:30px; margin-bottom:0px;">Seus eventos</h2>
    <p class="title-1 text-4" style="margin-top:0px; margin-bottom:0px;">Os eventos os quais você se inscreveu.</p>

    <div class="box-1 flex col start">
        <div id="sub_event_list" class="flex blocks"></div>
    </div>

</div>
</div>