<script src="\js/subscriptions/sub_preferences.js"></script>

<div id="sub_prefereces" style="display: none;" class="flex col box-2">

    <p class="text-4 title-2">Preferências</p>

    <div class="box-6">
        <p class="text-4">Habilitar notificações por email para esse evento</p>
        <input id="sub_enable_email_notifications" type="checkbox"></input>

        <p class="text-4">Habilitar o compartilhamento do seu email com os organizadores</p>
        <input id="sub_enable_email_sharing" type="checkbox"></input>
        
    </div>

    <div class="flex row center" style="margin-top:50px;">
        <button class="button-2" id="sub_preferences_update" style="width: 200px;">Salvar</button>
    </div>

    <div class="flex row center">
        <p id="sub_preferences_message"></p>
    </div>

</div>