<div id="sub_your_activities" style="display: none;" class="flex col box-2">

    <script src="\js/subscriptions/sub_your_activities.js"></script>

    <p class="text-4 title-2">Atividades que você participou</p>

    <div id="sub_actv_list" class="flex blocks"></div>

</div>