<div id="sub_toggle" class="flex col center">

    <script src="\js/subscriptions/sub_toggle.js"></script>

    <div class="flex row center" >
        
        <button id="sub_subscribe" class="a">Inscrever-se</button>

        <button id="sub_unsubscribe" onclick="uSure('event_unsub()')">Desinscrever-se</button>

    </div>
    
    <div class="flex row center" style="margin-bottom: 35px;">
        <p id="sub_warning" class="text-4 box-5" style="display: none;"></p>  
    </div>
    
</div>

