<div id="sub_toggle">

    <script src="\js/subscriptions/sub_toggle.js"></script>

    <h2>Subscription</h2>

    <a id="sub_subscribe" href="">Subscribe</a>
    <a id="sub_unsubscribe" href="">Unsubscribe</a>

    <p id="sub_warning"></p>

</div>

