<h1 class="title-1 text-2" style="margin-top: 50px;">Detalhado</h1>

<div class="box-1">

    <script src="\js/transparency/transparency_list.js"></script>

    <table style="width: 100%;">
        <tr class="transparency-item">
            <td data-simplebar><p>Título</p></td>
            <td data-simplebar><p>Descrição</p></td>
            <td data-simplebar><p>Valor</p></td>
            <td data-simplebar><p>Data de transação</p></td>
            <td data-simplebar><p>Data de adição</p></td>
            <td data-simplebar><p>ID</p></td>
        </tr>
    </table>

    <table id="transparency_list_div"></table>

</div>

 <div class="flex row center">
    <button onclick="transparency_list_previous_page()" style="width: 60px;"><</button>
    <p id="transparency_list_page_display" style="margin: 20px;">1</p>
    <button onclick="transparency_list_next_page()" style="width: 60px;">></button>
</div>