<script src="\js/transparency/transparency_summary.js"></script>

<h2 class="text-2 title-2">Geral</h2>

<div class="flex row center">
<div class="flex col center box-1">

    <div>
        <h2 class="text-4">Caixa atual</h2>
        <p id="transparency_summary_total_cash">0</p>
    </div>

</div>
</div>