
<h1 class="title-1 text-2">Geral</h1>

<div class="box-1">

    <script src="\js/transparency/transparency_summary.js"></script>

    <div>
        <h2 class="text-4">Caixa atual</h2>
        <p id="transparency_summary_total_cash">0</p>
    </div>

</div>