<div>
    <script src="\js/transparency/transparency_summary.js"></script>

    <h2>Transparency summary</h2>

    <div style="display:flex; flex-direction:column;">

        <p>Total cash: </p>
        <p id="transparency_summary_total_cash">0</p>

    </div>

</div>