/*QUILL*/
.editor {
    height: auto !important;
    padding-bottom: 20px;
}

.ql-editor {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

    border-radius: 2px;

    height: auto !important;
}

.ql-snow.ql-snow {
    border: none !important;
    margin-top: 2px !important;
}

div.ql-toolbar.ql-snow {  
    background-color: #ffffff;
    color: #8840b8;

    height: 70px;

    border-radius: 2px;
}

.ql-snow.ql-toolbar button svg {
    width: 20px;
}

/*GRANIM*/
.granim-canvas {
    position: absolute;

    visibility: hidden;
    z-index: -100;

    width: 100%;
    height: 100%;

    width: 500px;
    height: 500px;
}

/*SIMPLE BAR*/
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background: #8840b8;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;

    z-index: 0;
}

.simplebar-track {
    z-index: 0;
}

/*SIMPLE BAR INSIDE TABLES*/
td .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    background: #8840b8;
    opacity: 1;
}
 

/*STRUCT DIVS*/
.main {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

/*NAV BAR*/
.nav {
    display: flex;
    flex-direction: row;

    position: fixed;

    width: 100%;
    height: 80px;

    top: 0px;

    margin: 0;
    padding: 0;

    background-color: #ffffff;

    z-index: 100;

    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.3);
}

.nav-logo {
    position: absolute;

    width: auto;
    height: 80px;

    cursor: pointer;

    top: 0;
    left: calc( 50% - 40px );

    z-index: 101;
}

.nav-user-area {
    width: 100%;

    text-align: center;

    margin-right: 10px;

    color: #8840b8;

    z-index: 100;
}

.nav-label {
    width: 100%;

    margin-left: 10px;

    color: #8840b8;

    z-index: 100;
}

.nav-user-profilePic {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    margin: 8px;
}

.nav-user-area h3 {
    font-size: 11pt;

    margin: 0;
    padding: 0;

    margin-bottom: 5px;
    margin-right: 10px;

}

.nav-user-area a {
    color: #8840b8;


}

/*A class*/

.a:hover {
    cursor: pointer;
}

/*Transparency*/

.transparency-item {
   width: 100%;
}


/*MOBILE/DESKTOP*/
.mobile {
    display: none;
}

.desktop {
    display: none;
}

/*LOGGED/NOTLOGGED*/

.logged {
    display: none;
}

.notLogged {
    display: none;
}

/*INDEX*/
.index-block-item-deco {
    height: 60px;
    width: 60px;

    padding: 3px;

    margin-right: 20px;
    margin-left: 0;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.9);
}

.index-block-item {
    padding-left: 12px;
    margin: 30px;

    min-width: 400px;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;

    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;

    word-wrap: normal;
    overflow: hidden;
}

.index-block-item:hover {
    cursor: pointer;

    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;

    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    
    background-color: #8840b8;
}

.index-block-item p{
    font-size: 20pt;
    font-weight: 100;

    
}

.index-link-wrap {
    border-radius: 20px;
}


