/*QUILL*/
.editor {
    height: auto !important;
    padding-bottom: 20px;
}

.editor-paste {
    background-color:rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}

.ql-editor {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

    border-radius: 2px;

    height: auto !important;
}

.ql-snow.ql-snow {
    border: none !important;
    margin-top: 2px !important;
}

div.ql-toolbar.ql-snow {  
    background-color: #ffffff;
    color: #8840b8;

    border-radius: 2px;
}

.ql-snow.ql-toolbar button svg {
    width: 20px;
}

/*GRANIM*/
.granim-canvas {
    position: absolute;

    visibility: hidden;
    z-index: -100;

    width: 50px;
    height: 50px;
}

/*SIMPLE BAR*/
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background: #8840b8;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;

    z-index: 0;
}

.simplebar-track {
    z-index: 0;
}

/*SIMPLE BAR INSIDE TABLES*/
td .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    background: #8840b8;
    opacity: 1;
}
 

/*STRUCT DIVS*/
.main {
    display: flex;
    flex-direction: column;

    margin: 10px;
}

/*NAV BAR*/
.nav {
    display: flex;
    flex-direction: row;

    position: fixed;

    width: 100%;
    height: 80px;

    top: 0px;

    margin: 0;
    padding: 0;

    background-color: #ffffff;

    z-index: 100;

    /*box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.3);*/
}

.nav-logo {
    position: absolute;

    width: auto;
    height: 80px;

    cursor: pointer;

    top: 0;
    left: calc( 50% - 40px );

    z-index: 101;
}

.nav-user-area {
    width: 100%;

    text-align: center;

    margin-right: 10px;

    color: #8840b8;

    z-index: 100;
}

.nav-label {
    width: 100%;

    margin-left: 10px;

    color: #8840b8;

    z-index: 100;
}

.nav-user-profilePic {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    margin: 8px;
}

.nav-user-area h3 {
    font-size: 11pt;

    margin: 0;
    padding: 0;

    margin-bottom: 5px;
    margin-right: 10px;

}

.nav-user-area a {
    color: #8840b8;


}

/*A class*/

.a:hover {
    cursor: pointer;
}

/*Transparency*/

.transparency-item {
   width: 100%;
}


/*MOBILE/DESKTOP*/
.mobile {
    display: none;
}

.desktop {
    display: none;
}

/*LOGGED/NOTLOGGED*/

.logged {
    display: none;
}

.notLogged {
    display: none;
}

/*INDEX*/

.color-facebook {
    background-color: #3b5998;
}

.color-twitter {
    background-color: #1da1f2;
}

.color-instagram {
    background-color: #e1306c;
}

.color-youtube {
    background-color: #c4302b;
}

.color-github {
    background-color: #333333;
}

.color-linkedin {
    background-color: #0077b5;
}

.color-all {
    background-color: #8840b8;
}

.color-all-logged {
    background-color: rgb(89, 41, 115);
}

.color-bcc {
    background-color: #5c40b8;
}

.index-social-media {
    padding: 0;

    border-radius: 10px;

    margin: 5px;

    width: 60px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

}

/*RETRACTABLE*/

.retract-button {
    margin: 15px;

    border-radius: 5px;
    width: 100px;

    border: 1px solid #ffffff;
}

/*Font Awesome*/

.fa {
    color: #ffffff;
    
    text-align: center;

    height: auto;
    width:  auto;

    font-size: 25pt !important;
}

