/*GENERAL*/

h1 {
    font-size: 60pt;
}

h2 {
    font-size: 40pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 20pt;
}

p {
    font-size: 14pt;
}

.text-1 {
    font-size: 65pt;
    font-weight: 700;
}

.text-2 {
    font-size: 30pt;
    font-weight: 600;
}

.text-3 {
    font-size: 25pt;
    font-weight: 600;
}

.text-4 {
    font-size: 20pt;
    font-weight: 300;
}

/*MODIFIERS*/


/*CLASS*/

.index-link-wrap {
    width: 100%;
}

.event-section {
    width: 100%;
}

.event-section-atv {
    width: 100%;
}

.acc_info_div {
    width: 100%;
}

