/*GENERAL*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;

    background-color: #1d1d1d;
    color: #ffffff;

    padding: 0;
    margin: 0;

    height: 100vh;
}

div {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 60pt;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40pt;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30pt;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20pt;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14pt;
}

input {
    font-family: 'Open Sans', sans-serif;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12pt;

    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: white 2px solid;
    border-radius: 4px;

    color: #ffffff;
    background-color: rgba(0,0,0,0);
}

button:hover {
    cursor: pointer;
    background-color: #8840b8;
    border: #8840b8 2px solid;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14pt;

    text-decoration: none;
    text-decoration: underline;

    color: #ffffff;
}

a:hover {
    color: #8840b8;
}

img {
    width: auto;
    height: 100%;
}