/*TEXTS*/
.text-1 {
    font-size: 80pt;
    color: #ffffff;

    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.text-2 {
    font-size: 35pt;
    color: #ffffff;

    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.text-3 {
    font-size: 25pt;
    color: #ffffff;

    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.text-4 {
    font-size: 20pt;
    color: #ffffff;

    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

/*TITLES*/
.title-1 {
    padding-left: 5%;
    padding-right: 50px;
    margin: 15px;
}

.title-2 {
    padding-left: 10%;
    padding-right: 50px;
    margin: 15px;
}

.title-3 {
    padding-left: 15%;
    padding-right: 50px;
    margin: 15px;
}

.title-4 {
    padding-left: 20%;
    padding-right: 50px;
    margin: 15px;
}

/*Colors*/
.color-1 {
    color: #2f3333;
}

.color-2 {
    color: #1d1d1d;
}

.color-3 {
    color: #8840b8;
}

.color-4 {
    color: #492a7a;
}

/*Fixed width*/
.w-200 {
    width: 200px;
}

.w-400 {
    width: 300px;
}

.w-800 {
    width: 600px;
}

.w-max {
    width: 100%;
}

/*Fixed height*/
.h-200 {
    height: 200px;
}

.h-400 {
    height: 300px;
}

.h-800 {
    height: 600px;
}

.h-max {
    height: 100%;
}

/*buttons*/

.button-1 {
    color: #1d1d1d;
    border: #1d1d1d 2px solid;
}

.button-1:hover {
    background-color: #1d1d1d;
    color: #ffffff;
    border: #1d1d1d 2px solid;
}

.button-2 {
    background-color: rgba(0,0,0,0);
}

.button-2:hover {
    background-color: rgba(0,0,0,0.4);
    border: rgba(0,0,0,0.1) 2px solid;
}

/*Conteiner jump*/
.jump{
    cursor: pointer;
    transition: 0.2s;
}

.jump:hover {
    transform: scale(1.08);
    transition: 0.2s;
}

/*Break words*/
.break-word {
    word-break: break-word;
}

.no-break {
    word-break: keep-all;
    word-wrap: normal;
}

/*Boxes*/
.no-bg {
    background-color: rgba(0,0,0,0) !important;
}

/*Borders*/

.no-border {
    border: none !important;
}

.border-1 {
    border: #ffffff 1px solid;
}

.border-2 {
    border: #ffffff 2px solid;
}

