body {
    background-color: rgb(26, 0, 49);
    color: white;

    font-family:'Open Sans', sans-serif;
}

button {
    font-size: 20pt;
}

p {
    font-size: 20pt;
}

/*SIMPLE BAR*/

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background: #00bed3;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;

    z-index: 0;
}

.simplebar-track {
    z-index: 0;
}

/*PGS*/

#pg1 {
    height: 100vh;
    
}

#pg2 {
    background-color: rgb(50, 0, 93);
}

#pg3 {
    background-color: rgb(82, 0, 154);
    padding-top: 30px;
    padding-bottom: 30px;
}

/*Boxes*/

.box-1 {
    background-color: rgba(20, 0, 32, 0.759);
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 20px;
    border-radius: 20px;
}

.box-2 {
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 20px;
    border-radius: 20px;
}

.box-2-dark {
    background-color: rgb(51, 51, 51);
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 20px;
    border-radius: 20px;
}

.box-3 {
    background-color: rgb(50, 0, 93);
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 20px;
    border-radius: 20px;
}

/*Patroc*/

.patroc_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 30px;
    margin-bottom: 30px;
}

.patroc {
    width: 300px;
    height: auto;

}

/*Botão*/

.botao {

    font-size: 40pt;

    border: 3px solid white;

}

.botao:hover {
    border: 3px solid rgba(0, 0, 0, 0.365);
}

/*Modifiers*/
.no-bg {
    background-color: transparent;
}

.cron-item {
   width: 600px;

    padding: 30px;
    margin: 10px;
}

.cron-item h1 {
    font-size: 30pt;

    margin-bottom: 0px;
}

.cron-item h2 {
    font-size: 20pt;

    margin-bottom: 0px;
}

.cron-item h3 {
    font-size: 20pt;

    font-weight: 300;
}

.cron-item p {
    font-size: 15pt;

    font-weight: 300;

    margin-top: 0px;
}

.cron-item a {
    font-size: 15pt;

    font-weight: 500;

    margin-top: 0px;
}


